@import "./variables";

.bold {
  font-weight: bold;
}

.active-color {
  color: $active-color;
}

.inactive-color {
  color: $inactive-color;
}

.text-transparent * {
  color: transparent;
}

.theme-color {
  color: $theme-color;
}

.hover:hover {
  background-color: #eee2;
}

.v-hidden {
  visibility: hidden;
}
