@font-face {
  font-family: "Sora";
  src: url("assets/fonts/sora.ttf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  background: url("/src/assets/img/bg-light.png");
  background-size: cover;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100vw;
  min-height: 100vh;
}

main#Calculator {
  --primary-color: #eee;
  --secondary-color: #888;
  --theme-color: orange;

  --app-width: 20rem;
  --app-border-radius: 1rem;

  --font-size: 1rem;

  position: absolute;

  min-height: 95%;
  min-width: var(--app-width);

  background-color: #222;
  border-radius: var(--app-border-radius);

  * {
    font-family: "Sora";
    font-weight: bold;
  }

  button {
    color: var(--primary-color);
  }

  #Display {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    width: 100%;
    height: 50%;
    padding: 0.8rem 1rem;

    color: var(--secondary-color);

    .row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
    }

    #InputRow {
      display: flex;
      word-break: break-all;
      white-space: normal;

      text-align: end;
      transition: all 200ms ease;
    }

    #ResultRow {
      display: flex;
      word-break: break-all;
      white-space: normal;

      text-align: end;
      transition: all 200ms ease;

      &::before {
        content: "= ";
        padding-right: 0.25rem;
      }

      &.visible {
        display: flex;
        word-break: break-all;
        white-space: normal;
      }
    }

    .grey {
      color: var(--secondary-color);
    }

    .highlight {
      color: var(--primary-color);
      font-size: calc(var(--font-size) * 1.75);
    }
  }

  #Keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50%;

    border-top: solid 2px #555;

    * {
      font-size: calc(var(--font-size) * 1.5);
    }

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  button {
    margin: 0;
    padding: 0;
    background: none;
    border: 1px solid transparent;
    border-radius: 1rem;

    user-select: none;

    &:hover {
      background-color: #555;
    }
  }

  .bold {
    font-weight: bold;
  }

  .primary-color {
    color: var(--primary-color);
  }

  .text-transparent * {
    color: transparent;
  }

  .theme-color {
    color: var(--theme-color);
  }

  .no-hover:hover {
    background: none;
  }

  .v-hidden {
    visibility: hidden;
  }
}
